@charset "UTF-8";
/* CSS Document */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron.dogHero {
	background: url(../images/dogHero.jpg) no-repeat;
	background-size: 100%;
	padding: 135px 0;
}

.jumbotron.dogHero .col-md-5 {
background: url(../images/blackTransparency.png) repeat;
border-radius: 10px;
color: white;
}

.quote {
text-align: center;
padding-bottom: 30px;
}
.equation {
width:80%;
padding-bottom: 50px;
margin: 0 10%;
}
h2.quoteText {
float: left;
width: 88%;
}
img.dogPawQuote {
float: left;
width: 6%;
}